div {
  width: 100px;
  float: left;
  border-right: 1px solid red;
}
.group button {
  width: 33px;
}
.active {
  background: green;
}
.active.selected {
  background: red;
}
h1{
  text-align: center;
  margin: 0 0 20px;
}
h4 {
	margin: 0;
}
